In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
overview_df = pd.DataFrame(columns=['filename', 'loc', 'recording_date', 'id', 'medium', 'drug', 
                   'stimulation', 'length', 'network_activity', 'active_channels', 'average_fr',
                  'average_ISI', 'bursting_channels', 'average_IBI', 'fr_1', 'fr_2-3', 'fr_4', 'fr_5-6', 'bursting_rate_1', 
                    'bursting_rate_2-3', 'bursting_rate_4', 'bursting_rate_5-6'])

In [3]:
overview_df

Empty DataFrame
Columns: [filename, loc, recording_date, id, medium, drug, stimulation, length, network_activity, active_channels, average_fr, average_ISI, bursting_channels, average_IBI, fr_1, fr_2-3, fr_4, fr_5-6, bursting_rate_1, bursting_rate_2-3, bursting_rate_4, bursting_rate_5-6]
Index: []

[0 rows x 22 columns]

In [9]:
overview_df.loc['test']['filename']=2

In [14]:
np.save('overview_dataframe.npy', overview_df)

In [13]:
os.getcwd()

'C:\\Users\\User\\Documents\\JO\\gitkraken\\MEA_analysis\\REUTLINGEN_Paper'

In [12]:
overview_df

,filename,loc,recording_date,id,medium,drug,stimulation,length,network_activity,active_channels,...,bursting_channels,average_IBI,fr_1,fr_2-3,fr_4,fr_5-6,bursting_rate_1,bursting_rate_2-3,bursting_rate_4,bursting_rate_5-6
test,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [17]:
overview_df.to_excel('overview_df2.xlsx')